<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=], initial-scale=1.0">
    <title>Gerador de numeros aleatórios</title>
</head>
<body>
    <div style="display: flex;justify-content:center;align-items:center;flex-direction: column;">
        <h1>Gerador de números aleatórios</h1>
        <div style="display: flex;">
            <span th:text="${n1}">1</span> -
            <span th:text="${n2}">2</span> -
            <span th:text="${n3}">3</span> -
            <span th:text="${n4}">4</span> -
            <span th:text="${n5}">5</span> -
            <span th:text="${n6}">6</span>
        </div>
    </div>
</body>
</html>